---
import { IHM as Page } from "@/components/IHM/IHM";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex w-full bg-gray-300 border-gray-400 shadow border-b p-4">
    Skynet - IHM
  </div>

  <div class="flex flex-col size-full overflow-auto">
    <Page client:only />
  </div>
</Layout>
