[Unit]
Description=skynet_update
After=network.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/orangepi/Documents/services
ExecStart=/home/orangepi/Documents/services/skynet_update.sh
User=orangepi
RemainAfterExit=false
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
