[Unit]
Description=skynet_astro
After=network.target skynet_update.service
Wants=network-online.target skynet_update.service

[Service]
WorkingDirectory=/home/orangepi/Documents/services
ExecStart=/home/orangepi/Documents/services/skynet_astro.sh
User=orangepi
Restart=always
RestartSec=10
Environment=NODE_ENV=production
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
