[Unit]
Description=skynet_fastapi
After=network.target skynet_update.service
Wants=network-online.target skynet_update.service

[Service]
WorkingDirectory=/home/orangepi/Documents/services
ExecStart=/home/orangepi/Documents/services/skynet_fastapi.sh
User=orangepi
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
